{% extends 'base/base.html' %}

{% block title %}
{% if application %}
<title>Update Application</title>
{% else %}
<title>Add Application</title>
{% endif %}
{% endblock title %}

{% block body_title %}
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6 animated bounceInRight">
            <h1 class="m-0" style="color: rgb(242,175,88);"><span class="fa fa-plus"></span>
               {% if application %}
               Update Application
               {% else %}
               Add Application
               {% endif %}
            </h1>
         </div>
         <!-- /.col -->
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
               <li class="breadcrumb-item active">Add Application</li>
            </ol>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</div>
{% endblock body_title %}

{% block body_content %}
<section class="content">
   <div class="container-fluid">
      <div class="card card-info">
         <div class="card-header">
            <h3 class="card-title">Applicant Information</h3>
         </div>
         <!-- /.card-header -->
         <!-- form start -->
         {% if course or application %}
         <form method="POST">
         {% csrf_token %}
         {% else %}
         <form method="GET">
         {% endif %}

               <div class="card-body">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="card-header">
                           <span class="fa fa-user"> Applicant Information</span>
                        </div>





                        <div class="row">
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Course Name</label>
                                 {{form.course}}
                              </div>
                           </div>
                           {% if course or application %}
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Batch</label>
                                 {{form.batch}}
                              </div>
                           </div>
                           {% endif %}
                        </div>


                        {% if course or application %}
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Name</label>
                                 {{form.name}}
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Phone Number</label>
                                 {{form.phone_number}}
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Email Address</label>
                                 {{form.email}}
                              </div>
                           </div>


                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Last Education</label>
                                 {{form.last_education}}
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Last Education Status</label>
                                 {{form.last_education_status}}
                              </div>
                           </div>

                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Address</label>
                                 {{form.present_address}}
                              </div>
                           </div>

                           {% if application %}
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label>Application Status</label>
                                 {{form.application_status}}
                              </div>
                           </div>
                           {% endif %}

                        </div>
                        {% endif %}

                     </div>
                  </div>
               </div>
               <!-- /.card-body -->

               <div class="card-footer">
                  {% if course %}
                  <button type="submit" class="btn btn-primary">Save</button>
                  {% elif application %}
                  <button type="submit" class="btn btn-primary">Update</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">Next</button>
                  {% endif %}
               </div>
            </form>

      </div>
   </div>
   <!-- /.container-fluid -->
</section>
{% endblock body_content %}