{% extends 'base/base.html' %}

{% block title %}
<title>Application</title>
{% endblock title %}

{% block body_title %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 animated bounceInRight">
                <h1 class="m-0" style="color: rgb(242,175,88);"><span class="fa fa-bars"></span> List Application</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">List Application</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock body_title %}

{% block body_content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">
                    <center>Application Information</center>
                </h3>
            </div>
            <!-- /.card-header -->


            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-header">
                                <span class="fa fa-search"> Application Filter</span>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Course Name Name</label>
                                        <select name="course" id="" class="form-control">
                                            {% if select_course %}
                                            <option value="{{select_course.id}}">{{select_course.course_name}}</option>
                                            {% else %}
                                            <option value="">------</option>
                                            {% endif %}
                                            {% for all_course in all_course %}
                                            <option value="{{all_course.id}}">{{all_course.course_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {% if course_batch %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Batch Name</label>
                                        <select name="batch" id="" class="form-control">
                                            {% if batch %}
                                            <option value="{{batch.id}}">{{batch.batch_name}}</option>
                                            {% else %}
                                            <option value="">------</option>
                                            {% endif %}
                                            {% for course_batch in course_batch %}
                                            <option value="{{course_batch.id}}">{{course_batch.batch_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select name="status" class="form-control" id="">
                                            {% if status %}
                                            <option value="{{status}}">{{status}}</option>
                                            {% else %}
                                            <option value="">------</option>
                                            {% endif %}
                                            <option value="Pending">Pending</option>
                                            <option value="Selected">Selected</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <input type="text" class="form-control" name="search" placeholder="Search..." value="{{search}}">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Next</button>
                                <a class="btn btn-primary" href="{% url 'application_list' %}" >Reset</a>
                            </div>

                        </div>

                        <div class="col-md-9" style="border-left: 1px solid #ddd;">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1"
                                            class="table table-bordered table-striped dataTable no-footer" role="grid"
                                            aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Applicant Name: activate to sort column descending">Applicant Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Course Name: activate to sort column ascending">Course Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Batch No.: activate to sort column ascending">Batch No.</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Last Education: activate to sort column ascending">Last Education</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending">Status</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Action: activate to sort column ascending"
                                                        style="width: 149.588px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for application in application %}
                                                <tr class="odd">
                                                    <td class="sorting_1">{{application.name}}</td>
                                                    <td>{{application.course}}</td>
                                                    <td>{{application.batch}}</td>
                                                    <td>{{application.last_education}}</td>
                                                    <td>{{application.application_status}}</td>
                                                    <td class="text-right">
                                                        <a class="btn btn-sm btn-success"
                                                            href="{% url 'update_application' application.id %}">
                                                            <i class="fa fa-pen"></i></a>
                                                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#delete"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example1_info" role="status"
                                            aria-live="polite">Showing 1 to 1 of 1 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="example1_previous"><a href="#" aria-controls="example1"
                                                        data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active"><a href="#"
                                                        aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                        class="page-link">1</a></li>
                                                <li class="paginate_button page-item next disabled" id="example1_next">
                                                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                        class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- /.container-fluid -->
</section>
{% endblock body_content %}